{% if section.blocks.size > 0 %}
    <div class="slider-wrapper">
        <div class="slider-items">
            {% for block in  section.blocks %}
                {% if block.settings.slider_product != blank %}
                    {% assign product = block.settings.slider_product %}
                    <div class="slider-item">
                        <img src="{{ product.featured_image | img_url: '300x' }}" alt="{{ product.featured_image.alt | default: product.title  }}" class="slider-item__picture" loading="lazy">
                        <h4 class="name">{{ product.title }}</h4>
                        <div class="product-info">
                            {{ product.price | money_without_trailing_zeros }}
                        </div>

                        <div>
                            {{ shop.url }}
                            {{ product.url }}
                            {{ canonical_url }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<script
src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
defer="defer"
></script>
<script
src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
defer="defer"
></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        $('.slider-items').slick({
          slidesToShow: 1,
          slidesToScroll: 1
        });
    });
</script>

{% schema %}
{
  "name": "Products Slider",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.apps.settings.include_margins.label"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Products",
      "settings": [
        {
          "type": "product",
          "id": "slider_product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Products Slider"
    }
  ]
}
{% endschema %}
